* {
  box-sizing: border-box;
}
body {
  background-color: rgb(26, 26, 26);
}
 
.lista {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 2rem;
}
 
.lista > * {
  flex: 1 1 calc((100% / 3) - 2rem);
}
.container-pokemon{
  position: relative;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.titulo{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.pokebola1{
  position: absolute;
  width: 10%;
  height: auto;
  right: 20%;
}
.pokebola2{
  position: absolute;
  width: 10%;
  height: auto;
  left: 20%;
}
iframe{
  position: relative;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  margin-top: 5rem;
  margin-bottom: 5rem;
  background: #d62828;
  padding: 7px;
  border-radius: 16px;
}